# Compiled Object files
*.o

# Executable
Hex

# Images, I can't remember the original source to credit these appropiately
70K.png
Alice_Callie.png
Alice.png
Baby_Yoshi.png
Black_Forest_Cake.png
Blue_Hair.png
Coney.png
Harley.png

# Other files
*.txt
Makefile
